@{
  Layout = "_Layout";
}

<h1>Word Counter</h1>


  <form action="/wordcounter/results" method="post" class="form-input">
    <label for="new-string">Enter a sentence: </label>
    <input type="text" id="new-string" name="new-string" class="form-control">
    <br>
    <label for="new-word">Enter a word: </label>
    <input type="text" id="new-word" name="new-word" class="form-control">
    <br>
    <button type="submit" class="btn btn-default count">Submit</button>
  </form>

</div>

</div>
